card-element {
    width: 150px;
    height: 210px;
    background: orange;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 3px 8px;
}

card-element:hover {
    transform: translate(-10px, -10px);
}

.selected {
    border: 5px solid rgb(168, 109, 0);
    transform: translate(-10px, -10px);
}

