.cardRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1410px;
    height: 230px;
    border-radius: 5px;
}

#playerHand > card-element, #botHand > card-element
{
    margin-left: -25px;
}