card-element {
    width: 150px;
    height: 210px;
    background: orange;
    border-radius: 5px;
    padding: 5px;
    border: 5px solid rgb(184, 119, 0);
}

#playerHand card-element:hover {
    transform: translate(-10px, -10px);
}

.selected {
    border: 5px solid white;
    transform: translate(-10px, -10px);
}

.aboveBaseValue > h2
{
    color: green;
}

.belowBaseValue > h2
{
    color: red;
}