@import "./gameBoard.css";
@import "./card.css";
@import "./startOptions.css";
@import "./cardRow.css";
@import "./rowContainer.css";
@import "./deck.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', sans-serif;
}

body {
    background:rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
}