.rowContainer
{
    position: relative;
}

#playerScore, #botScore, .deck
{
    position: absolute;
    left: 1325px;
    top: calc(50% - 43.5px);
    color: white;
    font-size: 75px;
}

.deck {
    position: absolute;
    left: 1325px;
    top: 10px;
}

.ready:hover
{
    border: 5px solid white;
    cursor: cell;
}

.ready:hover > card-element:hover
{
    transform: none;
}